.Alert {
  text-align: center;
  padding-top: 25%;
}

.Alert__title {
  font-size: 1.2em;
}

.Alert__items {
  position: absolute;
  bottom: 0;
  margin: 10px;
  left: 0;
  width: calc(100% - 20px);
}

.Alert__item {
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.Alert__item--selected {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
