.Buttons {
  padding-left: 10px;
  padding-right: 10px;
}
.Buttons__Row {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Buttons__Row--Offset {
  margin-top: 0px;
}
.Buttons__Button {
  background: #000;
  color: #FFF;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.clearfix {
  clear: both;
}
