.Home {
  padding-top: 50px;
}
.Home__NoService {
  text-align: center;
  font-size: 0.8em;
}
.Home__Datetime {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}
.Home__Time {
  font-size: 3.8em;
  font-weight: 500;
  display: inline;
  line-height: 1.1em;
  margin-left: 5px;
}
.Home__Date {
  float: right;
  text-align: right;
  font-size: 1.5em;
}
.Home__Date span {
  margin-right: 5px;
}
.Home__Weekday {
  text-transform: uppercase;
}
.Home__Notifications {
  margin: 10px;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
