.Home {
  padding-top: 50px;
}
.Home__Datetime {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.Home__Time {
  font-size: 3em;
  display: inline;
}
.Home__Date {
  margin-top: 10px;
  float: right;
  text-align: right;
}
.Home__Date span {
  margin-right: 5px;
}
.Home__Notifications {
  margin: 10px;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
