.Statusbar div {
  display: inline;
  margin-top: 5px;
}
.Statusbar__Left {
  float: left;
  margin-left: 10px;
}
.Statusbar__Right {
  float: right;
  margin-right: 5px;
}
.Statusbar__Icon {
  content: '';
  display: block;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.Statusbar__Icon--signal {
  background-image: url(/signal.svg);
}
.Statusbar__Icon--lock {
  background-image: url(/lock.svg);
}
.Statusbar__Icon--vibrate {
  background-image: url(/vibrate.svg);
}
.Statusbar__Icon--battery {
  background-image: url(/battery.svg);
  height: 20px;
  width: 20px;
  margin-top: 3px;
}
.Statusbar__Icon--bluetooth {
  background-image: url(/bluetooth.svg);
}
