.Statusbar div {
  display: inline;
}
.Statusbar__Left {
  float: left;
}
.Statusbar__Right {
  float: right;
}
.Statusbar__Icon {
  content: '';
  display: block;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.Statusbar--Signal {
  background-image: url(/signal.svg);
}
.Statusbar--Lock {
  background-image: url(/lock.svg);
}
.Statusbar--Vibrate {
  background-image: url(/vibrate.svg);
}
.Statusbar--Battery {
  background-image: url(/battery.svg);
  height: 20px;
  width: 20px;
  margin-top: 3px;
}
.Statusbar--Bluetooth {
  background-image: url(/bluetooth.svg);
}
